<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/security.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">

<body>
    <div id="all">
        <header>
            {{ partial "nav.html" . }}
        </header>
        <div class="nav-mask hide"></div>
        <div id="content">
            <div class="container">
                <div class="security-banner">
                    <h1 class=" isPc">{{ .Params.title }}</h1>
                    <h2 class="isH5">{{ .Params.title }}</h2>
                    <img class="top-banner isPC img" src="../img/security/banner.png" alt="">
                    <img class="top-banner isH5 img" src="../img/security/banner-mobile.png" alt="">
                </div>
                {{ .Content }}
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
</body>

</html>