<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/foundation.css" | relURL}}{{ .Site.Params.version }}">

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>
        <div class="container">
            <div class="foundation-content">
                <div class="foundation-top">
                    <h1>{{ .Params.foundation_title}}</h1>
                    <img src="{{ "img/foundation/banner.png" | relURL}}"  alt="" class="foundation-banner">
                </div>
                <div class="foundation-tabs-content">
                    <ul class="foundation-tabs">
                        {{ range where $.Page.Site.Pages "Type" "who-we-are" }}
                        {{ if .Content }}
                        <li>{{ .Params.title }}</li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <div class="foundation-tab-inner">
                        {{ range where $.Page.Site.Pages "Type" "who-we-are" }}
                        {{ if .Content }}
                        <div class="foundation-tab-pane">
                            <h4 class="foundation-tab-pane-title">{{ .Params.title }}<span
                                    class="inner-arrow-right"></span></span></h4>
                            <div class="inner">
                                {{ .Content }}
                                <h4 class="small-title">{{ .Params.small_title}}</h4>
                                <ul class="pmc-list">
                                    {{ range .Params.item }}
                                    <li class="pmc-item">
                                        <img src="{{ .avatar | relURL }}" class="avatar">
                                        <div class="desc">
                                            <h4 class="desc-title">{{ .title }}</h4>
                                            <p class="desc-range">{{ .range }}</p>
                                            <p class="des-content">{{ .content }}</p>
                                        </div>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>

            </div>    
        </div>
        

        {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}
    <script src="{{ "js/foundation.js" | relURL }}{{ .Site.Params.version }}"></script>
</body>

</html>