<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/legalnotice.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">

<body>
    <div id="all">
        <header>
            {{ partial "nav.html" . }}
        </header>
        <div class="nav-mask hide"></div>
        <div id="content">
            <div class="container">
                <h1 class="legal-title">{{ .Params.title }}</h1>
                {{ .Content }}
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
</body>

</html>