<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ partial "head.html" . }}

    <body>

        <div id="all">

        <header>

        {{ partial "nav.html" . }}

        </header>
        <div class="nav-mask hide"></div>
        <div id="content">
        <div class="container">
            <div class="row">

                {{ $paginator := .Paginate (where .Data.Pages "Type" "maillist") }}
                <section class="post">
                    <div class="row">
                        <div class="col-md-12 maillist">
                            <div class="isPC maillist">
                                <div class="maillist-title">
                                    <h2>{{ .Params.top_title }}</h2>
                                    <img class="maillist-pic top-banner isPC img" src="../img/banners/contributeBanner.png" alt="">
                                </div>
                            </div>
                            <div class="isH5 maillist">
                                <div class="maillist-title">
                                    <h2>{{ .Params.mobile_title }}</h2>
                                    <img class="maillist-pic top-banner isH5 img" src="../img/contribution/banner-mobile.png" alt="">
                                </div>
                            </div>
                            <div class="maillist-info">
                                <h3>{{ .Params.middle_title }}</h3>
                                {{ .Content }}
                        </div>
                    </div>
                    </div>
                </section>

                <!-- *** COLUMN END *** -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

        </div>
        <!-- /#all -->

        {{ partial "scripts.html" . }}
    
    </body>
</html>
