ul {
    list-style: none;
    padding-inline-start: 20px;
}

a {
    text-decoration: none;
}

.tag-filter {
    display: none;
    position: fixed;
    top: 60px;
    width: 100%;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
}

.tag-filter .tag-filter-header {
    margin: 0 auto;
    height: 50px;
    width: 90%;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #5A9B83;
}

.tag-filter .tag-filter-header > div {
    cursor: pointer;
}

.tag-filter .tag-filter-header img {
    vertical-align: middle;
    margin-right: 5px;
}

.tag-filter .tag-filter-content {
    font-size: 16px;
}

.tag-filter .tag-filter-content p {
    margin-left: 20px;
}

.tag-filter .tag-filter-content ul li {
    display: inline-block;
    padding: 0 15px;
    border: 1px solid #409D81;
    border-radius: 4px;
    margin-bottom: 18px;
    margin-right: 20px;
}

.tag-filter .tag-filter-content ul li a {
    color: rgba(0, 0, 0, .7);
    font-size: 12px;
}

@media (max-width: 994px) {
    .tag-filter {
        display: block;
    }
}