ul {
    list-style: none;
    padding-inline-start: 20px;
}

a {
    color:#5a9b83;
}
.read-more{
    font-size:14px;
    color:#5a9b83;
    margin-bottom: 0;
}
.read-more a:hover{
    color:#5a9b83;
}
.tag-filter {
    display: none;
    height: 50px;
    position: sticky;
    background-color:#fff;


}
.container .post h3 {
    margin-top: 0 !important;
}

.container .blog-post {
    margin-bottom: 50px !important;
}

.tag-filter .tag-filter-header {
    padding: 10px 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    
    font-weight:400;
    color:rgba(0,0,0,1);


}

.tag-filter .tag-filter-header > div {
    cursor: pointer;
}

.tag-filter .tag-filter-header > div img {
    margin-bottom: 3px;
}

.tag-filter .tag-filter-header img {
    vertical-align: middle;
    margin-right: 5px;
}

.tag-filter .tag-filter-content {
    font-size: 16px;
}

.tag-filter .tag-filter-content p {
    padding:14px 0px;
    margin: 0 20px;
    height: 50px;
    width: 88%;
    font-size:18px; 
    color:rgba(0,0,0,1); 
}

.panel.sidebar-menu .panel-body{
    max-height: 360px;
    overflow: auto;
}
.panel.sidebar-menu .panel-body::-webkit-scrollbar {
    width: 6px;
    height: 80px;
}
.panel.sidebar-menu .panel-body::-webkit-scrollbar-thumb {
    background-color: #e4e6eb;
    outline: none;
    border-radius: 2px;
}
.panel.sidebar-menu .panel-body::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 2px;
}

.tag-filter .tag-filter-content {
    background: #fff;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px;

}


.tag-filter .tag-filter-content a {
    margin-right: 8px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 4px 15px 4px !important;
    
    color:  #5a9b83;
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #5a9b83;

}
.blog-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 2;
}
#blog-listing-medium {
    margin-bottom: 80px;
}
#blog-listing-medium .fz16 {
    color: #000;
}
#blog-listing-medium .fz16:hover {
    color: #000;
}
.selectedTag {
    color: #fff !important;
    border-color: #5a9b83 !important;
    background-color: #5a9b83;
}
.selectedTagFilter {
    color: #5a9b83 !important;
    border-color: #5a9b83 !important;
}
.panel.sidebar-menu h3 img {
    vertical-align: sub !important;
}
.sidebar-menu .post-blog .post-img {
    vertical-align: text-bottom;
    margin-right: 5px;
}
@media (max-width: 994px) {
    .tag-filter {
        display: block;
        z-index: 3;
    }
    #blog-listing-medium .post .intro {
        word-break: break-all;
    }
}
.panel.sidebar-menu ul.tag-cloud li a {
    color: #5a9b83;
    border: 1px solid #5a9b83 !important;
    padding: 4px 19px 4px !important;
    margin: 5px 10px 5px 0 !important;
}
#blog-listing-medium .post .tags a {
    color: #5a9b83;
    border: 1px solid #5a9b83 !important;
    padding: 4px 10px 4px !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

#blog-listing-medium .post .clearfix {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}
.panel.sidebar-menu .panel-heading .panel-title {
    margin: 20px 0 -10px 0 !important;
}
#blog-listing-medium .post {
    margin-bottom: 40px !important;
}
#blog-listing-medium .post:last-child {
    margin-bottom: 20px !important;
}