ul {
    list-style: none;
    padding-inline-start: 20px;
}

a {
    color:#5a9b83;
}
.read-more{
    font-size:14px;
    color:#5a9b83;
}
.read-more a:hover{
    color:#5a9b83;
}
.tag-filter {
    display: none;
    height: 50px;
    position: sticky;
    background-color:#fff;


}

.tag-filter .tag-filter-header {
    padding: 10px 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family:Roboto-Regular,Roboto;
    font-weight:400;
    color:rgba(0,0,0,1);


}

.tag-filter .tag-filter-header > div {
    cursor: pointer;
}

.tag-filter .tag-filter-header > div img {
    margin-bottom: 3px;
}

.tag-filter .tag-filter-header img {
    vertical-align: middle;
    margin-right: 5px;
}

.tag-filter .tag-filter-content {
    font-size: 16px;
}

.tag-filter .tag-filter-content p {
    padding:14px 0px;
    margin: 0 20px;
    height: 50px;
    width: 88%;
    font-size:18px;
    font-family:HuaweiSans;
    color:rgba(0,0,0,1);
    
}

.tag-filter .tag-filter-content {
    background: #fff;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px;

}


.tag-filter .tag-filter-content a {
    margin-right: 8px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px 15px 5px !important;
    font-family: Roboto Light;
    color:  rgba(0, 0, 0, .7);
    font-size: 12px;
    line-height: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    border: .5px solid rgba(0, 0, 0, .39);

}
.blog-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 2;
}
.selectedTag {
    color: #fff !important;
    border-color: #5a9b83 !important;
    background-color: #5a9b83;
}
.selectedTagFilter {
    color: #5a9b83 !important;
    border-color: #5a9b83 !important;
}
.panel.sidebar-menu h3 img {
    vertical-align: sub !important;
}

.panel.sidebar-menu ul.tag-cloud li a {
    line-height: 11px;
}


@media (max-width: 994px) {
    .tag-filter {
        display: block;
        z-index: 3;
    }
}
