.container #cla-table {
    width: 70%;
    min-width: 320px;
    max-width: 800px;
    text-align: center;
}

.container #cla-type-table tr,
.container #individual-table tr,
.container #legalentity-table tr,
.container #cla-table tr {
    height: 35px;
}

.container #individual-table tr td:first-child,
.container #legalentity-table tr td:first-child {
    width: 35%;
}

.container #individual-table tr input[type="text"],
.container #legalentity-table tr input[type="text"] {
    width: 99%;
}

.container #cla-type-table input[type="radio"] {
    margin-right: 10px;
}

.container .clanote {
    line-height: 35px;
}

.container #sign-cla-button,
.container #reset-cla-button {
    width: 80px;
    margin: 0 20px 0 0;
}

.container #tip-cla-label {
    margin-top: 10px;
    color: #5A9B83;
}

.open-lookeng-cla-table {
    background-color: transparent;
    width: 452px;
    text-align: center;
}

.open-lookeng-cla-table td,
.open-lookeng-cla-table th {
    text-align: left;
    padding: 10px 8px;
    vertical-align: top;
}

.open-lookeng-cla-table thead th {
    color: #363636;
}

#cla-type-table {
    border-bottom: 1px solid #BFBFBF;
}

.cla-sign-btn {
    background: #5A9B83;
    color: #fff;
    border-color: #5A9B83;
    border-radius: 4px;
}

.cla-sign-btn:hover,
.cla-sign-btn:focus {
    background: #5A9B83;
    color: #fff;
    border-color: #5A9B83;
}

.cla-reset-btn {
    background: #fff;
    color: #5A9B83;
    border-color: #5A9B83;
    border-radius: 3px;
}

.cla-reset-btn:hover,
.cla-reset-btn:focus {
    background: #fff;
    color: #5A9B83;
    border-color: #5A9B83;
}

.cla-bt-color {
    border-bottom: 4px solid #5A9B83;
}

.radio-td input {
    visibility: hidden;
    display: none;
}

.btn.disabled {
    background-color: rgba(0, 0, 0, .25);
    border-color: rgba(0, 0, 0, 0);
    opacity: unset;
}

.btn {
    border-width: 2px;
}

.cla-checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    margin-right: 10px !important;
}

.container > h2 {
    margin: 60px 0 40px;
}

p {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    margin-bottom: 30px;
}

label {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    font-family: HuaweiSansLight;
}

td {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    font-family: HuaweiSansLight;
}

.radio-td {
    text-align: center !important;
}

#cla-table .fz12 a {
    color: #5A9B83;
    cursor: pointer;
}

#cla-table {
    margin-bottom: 80px;
}

.fz12 {
    font-size: 12px;
}

.h0 {
    height: 0 !important;
    padding: 0 !important;
}