.home-banner {
    height: 440px;
    margin-bottom: 60px;
}

.bar.background-white {
    margin-top: 0;
    padding-bottom: 0;
}

.bar.background-white .container {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.bar.background-white .col-md-6.mt62 {
    padding-left: 0;
    max-width: 530px;
}
.bar.background-white .container:after,
.bar.background-white .container:before {
    display: none!important;
}

.home-links h2 {
    margin-top: 0;
    font-style: 40px;
    color: #000;
    font-family: HuaweiSans;
}

.search-img {
    background: url("../img/icons/search.png") no-repeat center cover;
}

.home-why .item {
    width: unset;
}

.home-why .item02 {
    width: unset;
}

.home-why .item .item-left {
    margin-left: unset;
}

.bg {
    background-color: #fff;
}

.home-banner .banner-p1 {
    font-family: HuaweiSans;
    margin-bottom: 0!important;
    line-height: 44px;
    font-size: 40px;
    color: #000;
}

.home-banner .banner-p2 {
    font-family: Roboto-Regular, Roboto;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 15px;
}

.home-banner .home-img {
    position: relative;
}

.home-why .why-title {
    font-family: HuaweiSansLight;
}

h3.title {
    font-family: HuaweiSans !important;
}

.descr .descr-item {
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
    font-family: HuaweiSansLight;
}

.home-banner .home-img a {
    border-radius: 4px;
    background-color: rgba(90, 155, 131, 1);
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -60px;
}

.home-banner .banner_content .getStart {
    border-radius: 4px;
    background-color: rgba(90, 155, 131, 1);
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    left: 50%;
    margin-left: -60px;
}

.swiper-slide .banner_content .banner-pc {
    display: block;
    width: 80%;
    margin: 0 auto 50px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 20px;
    height: 3px;
    border-radius: 3px;
}

.swiper-pagination-bullet-active {
    background: #5a9b83;
}

.swiper-button-prev {
    background: url("../img/banners/arrow-left.svg") no-repeat center;
    width: 36px;
}

.swiper-button-next {
    background: url("../img/banners/arrow-right.svg") no-repeat center;
    width: 36px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-link {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-link .isPC {
    width: 1140px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-link .isH5 {
    width: 345px;
}

.swiper-newyear .isH5 {
    width: 100%;
}

.banner_swiper .swiper-button-disabled {
    display: none;
}

.navbar-nav > .dropdown.lang > .nav-lang-btn:hover {
    border-bottom: 0;
}

.home-why .item .video02 {
    margin-left: unset;
}

.home-why .summit {
    padding-top: unset;
    margin-top: 100px;
}

.home-why .summit .summit-title {
    padding-top: 40px;
    height: unset;
    font-size: 40px;
    font-family: HuaweiSans;
}

.unset {
    margin-top: unset !important;
}

.mt100 {
    margin-top: 100px;
}

.home-info-adapter {
    font-family: HuaweiSans;
    text-align: left!important;
}

.fz16 {
    font-size: 16px !important;
}

.bar .container .col-md-6 ul li a {
    color: rgba(0, 0, 0, 1);
    font-family: Roboto-Light, Roboto;
    font-weight: 300;
}

.one-row {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.two-row {
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bar .container .col-md-6 ul li > p {
    font-family: Roboto-Regular, Roboto;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
    line-height: 26px;
}

.bar .container .col-md-6 ul li > .home-blog {
    font-weight: 300;
}

.bar .container .col-md-6 ul li > .home-news {
    font-weight: 300;
}

.bar .container .col-md-6 ul li a p {
    color: #000;
    font-family: HuaweiSans;
}

.home-links {
    margin-bottom: 100px;
}

.home-powered-links {
    margin-bottom: 40px;
    margin: 0 -15px;
}

.home-powered-imgs {
    max-width: 924px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.home-why .summit img {
    width: 1140px;
    height: unset;
    margin-bottom: 20px;
}

.home-why .summit {
    height: unset;
    background: #fff;

}


.home-why > a:hover {
    text-decoration: none;
}

.bar .container .col-md-6 > a p {
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    font-size: 14px;
}

.special-item .video {
    margin-right: unset !important;
    margin-left: 113px;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.video {
    outline: none;
}

.video:hover {
    cursor: pointer;
}

@media (max-width: 994px) {
    .home-banner .home-img a {
        width: 150px;
        margin-left: -75px;
        top: -3%;
    }

    .home-info-adapter {
        text-align: center;
        font-size: 24px;
    }

    .bar.background-white .col-md-6.mt62 {
        padding-left: 15px;
    }

    .bar.background-white .container {
        padding-left: 15px;
    }

    .bar .container .col-md-6 ul li > p:nth-last-child(1) {
        display: none;
    }

    .bar.background-white .container {
        display: block;
    }

    .home-links-imgs {
        margin-bottom: unset;
    }

    .home-powered-imgs {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-powered-imgs a {
        margin-bottom: 30px;
    }

    .home-powered-links {
         margin-bottom: unset;
    }

    .home-info-adapter {
        font-family: HuaweiSans;
        text-align: center!important;
    }
}

.videos-wrapper .title {
    text-align: center;
    font-size: 40px;
    font-family: HuaweiSans;
    margin: 0 0 40px 0;
    color: #000;
}

.videos-wrapper .video-right-item {
    display: flex;
    justify-content: space-around;
}

.videos-wrapper .video-right-item .item-left,
.videos-wrapper .video-right-item .item-right {
    flex: 1;
    width: 40%;
}

.videos-wrapper .video-right-item .item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos-wrapper .video-right-item .item-left .left-title {
    color: #000;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: HuaweiSans;
}

.videos-wrapper .video-right-item .item-left p {
    font-size: 14px;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    color: rgba(0, 0, 0, .7);
}

.videos-wrapper .video-right-item .item-right .video {
    width: 100% !important;
    margin: 40px 0;
}

.videos-wrapper .video-left-item {
    display: flex;
    justify-content: space-around;
}

.videos-wrapper .video-left-item .item-left,
.videos-wrapper .video-left-item .item-right {
    flex: 1;
    width: 40%;
}

.videos-wrapper .video-left-item .item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos-wrapper .video-left-item .item-right .right-title {
    color: #000;
    text-align: right;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: HuaweiSans;
}

.videos-wrapper .video-left-item .item-right p {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto-Regular, Roboto;
    color: rgba(0, 0, 0, .7);
}

.videos-wrapper .video-left-item .item-left .video {
    width: 100% !important;
    margin: 70px 0;
}

.home-links-imgs img {
    width: auto;
    height: 80px;
}

.navbar-buttons .navbar-toggle .search-img {
    vertical-align: middle;
}
@media (max-width: 994px) {
    .home-banner {
        padding: 0 0 0 0;
    }
    .home-banner .banner-p1 {
        margin: 0 0 10px 0;
        font-size: 30px;
    }
    .home-banner .banner-p2 {
        margin-top:10px !important;
        margin-bottom: 20px !important;
    }
    .home-banner {
        margin-bottom: 40px;
    }
    .videos-wrapper .title {
        margin-bottom: 20px;
        font-size: 30px;
    }
    .videos-wrapper .video-left-item {
        flex-direction: column;
    }
    .videos-wrapper .video-right-item {
        flex-direction: column-reverse;
    }
    .videos-wrapper .video-right-item .item-left,
    .videos-wrapper .video-right-item .item-right,
    .videos-wrapper .video-left-item .item-left,
    .videos-wrapper .video-left-item .item-right {
        width: 100%;
    }
    .videos-wrapper .video-right-item .item-left .left-title {
        margin: 20px 0 15px 0;
        text-align: center;
        font-size: 24px;
    }
    .videos-wrapper .video-right-item .item-left p {
        text-align: center;
        font-size: 14px;
    }
    .videos-wrapper .video-left-item .item-right .right-title {
        margin: 20px 0 15px 0;
        text-align: center;
        font-size: 24px;
    }
    .videos-wrapper .video-left-item .item-right p {
        text-align: center;
        margin-bottom: 11px;
        font-size: 14px;
    }
    .videos-wrapper .video-left-item .item-left {
        margin-top: 40px;
    }
    .videos-wrapper .video-right-item .item-right {
        margin-top: 40px;
    }
    .home-why .summit {
        margin-top: 49px;
    }
    .home-why .summit img {
        margin-top: 14px;
    }
    .mt100 {
        margin-top: 60px !important;
    }
    .bar .container .col-md-6 > a p {
        font-size: 14px;
        margin-top: 21px;
    }
    .bar .container .col-md-6:nth-child(2) > h2 {
        margin-top: 60px;
    }
    .home-links-imgs img {
        width: 180px;
        height: 60px;
    }
    .home-why .why-title,
    .home-why .summit-title,
    .home-links h2 {
        font-size: 30px !important;
    }
    .bar .container .col-md-6 > h2 {
        margin-top: 0;
        font-size: 30px !important;
    }
    .home-links-imgs a {
        margin-bottom: 30px;
    }
    .home-links {
        margin-bottom: 30px !important;
    }
}

.bar .container .col-md-6 > h2 {
    font-size: 40px;
    color: #000;
}

.home-blog,
.home-news {
    font-family: Roboto-Light, Roboto !important;
    color: rgba(0, 0, 0, .7) !important;
    margin: 10px 0 11px 0;
}