.home-banner {
    height: unset;
    padding-top: 100px;
}

.home-why .item {
    width: unset;
}

.home-why .item02 {
    width: unset;
}

.home-why .item .item-left {
    margin-left: unset;
}

.bg {
    background-color: #fff;
}

.home-banner .banner-p1 {
    font-family: HuaweiSans;
    margin: 0 0 15px 0;
    line-height: 44px;
}

.home-banner .banner-p2 {
    font-family: HuaweiSansLight;
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 15px;
}

.home-banner .home-img {
    position: relative;
}

.home-why .why-title {
    font-family: HuaweiSansLight;
}

h3.title {
    font-family: HuaweiSans !important;
}

.descr .descr-item {
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
    font-family: HuaweiSansLight;
}

.home-banner .home-img a {
    border-radius: 4px;
    background-color: rgba(90, 155, 131, 1);
    font-size: 16px;
    color: #fff;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -60px;
}

.home-why .item .video02 {
    margin-left: unset;
}

.home-why .summit {
    padding-top: unset;
    margin-top: 100px;
}

.home-why .summit .summit-title {
    padding-top: 60px;
    height: unset;
    font-family: HuaweiSans;
}

.unset {
    margin-top: unset !important;
}

.mt100 {
    margin-top: 100px;
}

.home-info-adapter {
    font-family: HuaweiSans;
}

.fz16 {
    font-size: 16px !important;
}

.bar .container .col-md-6 ul li a {
    color: rgba(0, 0, 0, .7);
    font-family: HuaweiSansLight;
}

.one-row {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.two-row {
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bar .container .col-md-6 ul li > p {
    font-family: HuaweiSansLight;
    color: rgba(0, 0, 0, .7);
}

.bar .container .col-md-6 ul li a p {
    color: #000;
    font-family: HuaweiSans;
}

.home-links {
    margin-bottom: 100px;
}

.home-why .summit img {
    width: unset;
    height: unset;
}

.home-why .summit {
    height: unset;
}

.home-why > a:hover {
    text-decoration: none;
}

.bar .container .col-md-6 > a p {
    font-family: HuaweiSansLight;
}

.special-item .video {
    margin-right: unset !important;
    margin-left: 113px;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.video {
    outline: none;
}

.video:hover {
    cursor: pointer;
}

@media (max-width: 994px) {
    .home-banner .home-img a {
        display: none;
    }

    .home-info-adapter {
        text-align: center;
        font-size: 24px;
    }

    .bar .container .col-md-6 ul li > p:nth-last-child(1) {
        display: none;
    }

    .home-links-imgs {
        margin-bottom: unset;
    }
}

.videos-wrapper .title {
    text-align: center;
    font-size: 34px;
    font-family: HuaweiSans;
    margin: 0 0 32px 0;
}

.videos-wrapper .video-right-item {
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
}

.videos-wrapper .video-right-item .item-left,
.videos-wrapper .video-right-item .item-right {
    flex: 1;
    width: 40%;
}

.videos-wrapper .video-right-item .item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos-wrapper .video-right-item .item-left .left-title {
    color: #000;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: HuaweiSans;
}

.videos-wrapper .video-right-item .item-left p {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: HuaweiSansLight;
    color: rgba(0, 0, 0, .7);
}

.videos-wrapper .video-right-item .item-right .video {
    width: 100% !important;
    margin: 70px 0;
}

.videos-wrapper .video-left-item {
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
}

.videos-wrapper .video-left-item .item-left,
.videos-wrapper .video-left-item .item-right {
    flex: 1;
    width: 40%;
}

.videos-wrapper .video-left-item .item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos-wrapper .video-left-item .item-right .right-title {
    color: #000;
    text-align: right;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: HuaweiSans;
}

.videos-wrapper .video-left-item .item-right p {
    text-align: right;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: HuaweiSansLight;
    color: rgba(0, 0, 0, .7);
}

.videos-wrapper .video-left-item .item-left .video {
    width: 100% !important;
    margin: 70px 0;
}

.home-links-imgs img {
    width: 240px;
    height: 80px;
}

@media (max-width: 994px) {
    .home-banner {
        padding: 40px 0 0 0;
    }
    .home-banner .banner-p1 {
        margin: 0 0 10px 0;
    }
    .home-banner .banner-p2 {
        margin-bottom: 30px;
    }
    .home-banner {
        margin-bottom: 40px;
    }
    .videos-wrapper .title {
        margin-bottom: 22px;
        font-size: 24px;
    }
    .videos-wrapper .video-left-item {
        flex-direction: column;
    }
    .videos-wrapper .video-right-item {
        flex-direction: column-reverse;
    }
    .videos-wrapper .video-right-item .item-left,
    .videos-wrapper .video-right-item .item-right,
    .videos-wrapper .video-left-item .item-left,
    .videos-wrapper .video-left-item .item-right {
        width: 100%;
    }
    .videos-wrapper .video-right-item .item-left .left-title {
        margin: 19px 0 11px 0;
        text-align: center;
        font-size: 16px;
    }
    .videos-wrapper .video-right-item .item-left p {
        text-align: center;
        margin-bottom: 11px;
        font-size: 14px;
    }
    .videos-wrapper .video-left-item .item-right .right-title {
        margin: 19px 0 11px 0;
        text-align: center;
        font-size: 16px;
    }
    .videos-wrapper .video-left-item .item-right p {
        text-align: center;
        margin-bottom: 11px;
        font-size: 14px;
    }
    .videos-wrapper .video-left-item .item-left {
        margin-top: 49px;
    }
    .videos-wrapper .video-right-item .item-right {
        margin-top: 49px;
    }
    .home-why .summit {
        margin-top: 49px;
    }
    .home-why .summit img {
        margin-top: 20px;
    }
    .mt100 {
        margin-top: 60px !important;
    }
    .bar .container .col-md-6 > a p {
        font-size: 14px;
        margin-top: 21px;
    }
    .bar .container .col-md-6:nth-child(2) > h2 {
        margin-top: 60px;
    }
    .home-links-imgs img {
        width: 180px;
        height: 60px;
    }
}