.empty-box {
    position: absolute;
    top: 0;
    height: 110px;
}
.powered-by-lookeng {
    margin-bottom: 60px;
}
.powered-by-lookeng h2{
    font-size: 40px!important;
    margin: 60px 0 40px !important;
    text-align: left;
}
.powered-by-lookeng h3{
    margin: 64px 0 48px !important
}
.powered-by-lookeng .comp-name{
    font-size: 18px;
    margin-bottom: 16px;
}
.powered-by-lookeng .bold {
    font-weight: 600;
}
.powered-by-lookeng ul {
    list-style: none;
    margin-top: -4px;
    padding: 0;
}
.powered-by-lookeng .info-card {
    display: flex;
    flex-wrap: wrap;
}
.powered-by-lookeng .company-info {
    width: 558px;
    height: 228px;
    padding: 40px;
    box-shadow: 0px 12px 32px 0px rgba(190, 196, 204, 0.2);
    background: url("../img/powered/card-bg.png");
    margin: 0 24px 24px 0;
}
.fixed-nav {
    display: block;
    position: fixed;
    top: 480px;
    right: 185px;
    text-align: right;
}
.to-top img {
    position: relative;
    left: 16px;
    width: 32px;
}
.fixed-nav ul {
    padding-right: 9px;
    margin-top: -12px;
    padding-top: 12px;
    border-right: 2px solid #fff;
}
.fixed-nav ul li {
    margin: 12px 0;
}
.icon-line {
    width: 2px;
    height: 183px;
    display: inline-block;
    position: relative;
    top: -210px;
    background: #bfbfbf;
}
.icon-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/partner/icon_circle.png");
    position: relative;
    left: 16px;
    z-index: 1;
}
.active .icon-circle {
    background: url("../img/partner/icon_circle_active.png");
}
.fixed-nav a {
    color: #000;
}
.fixed-nav .active a {
    color: #5A9B83;
}


@media screen and (max-width: 1000px) {
    .powered-by-lookeng {
        margin-bottom: 80px;
    }
    .powered-by-lookeng h2 {
        text-align: center;
    }
    .fixed-nav {
        display: none;
    }
    .container .row {
        margin: 0;
    }
    .powered-by-lookeng h2 {
        font-size: 30px!important;
    }
    .powered-by-lookeng h3 {
        font-size: 20px!important;
    }
    .powered-by-lookeng .company-info {
        width: 345px;
        height: unset;
        margin: 0 0 24px;
        padding: 24px;
        background: url("../img/powered/card-mo-bg.png");
        background-size: cover;
    }
    .powered-by-lookeng .bold {
        display: block;
        margin-bottom: 4px;
    }
    .powered-by-lookeng p {
        line-height: 24px;
        margin-bottom: 8px;
    }
    .tag-item {
        color: #000;
        padding-left: 30px;
        height: 50px;
        line-height: 50px;
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.24);
    }
    .tag-item.active{
        color: #5A9B83;
    }
    .inner-arrow-down {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/foundation/Down.png) no-repeat;
        background-position: center center;
        vertical-align: middle;
        right: 34px;
        top: 50%;
        transform: translateY(-50%);
    }
    .inner-arrow-right {
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/foundation/Right.png) no-repeat;
        background-position: center center;
        vertical-align: middle;
        right: 34px;
        top: 50%;
        transform: translateY(-50%);
    }
    .info-card {
        margin-top: 24px;
    }
    .powered-by-lookeng .comp-name {
        font-size: 16px;
    }
}