#content .policy-title {
    color: #000;
    font-size: 30px;
    
    line-height: 48px;
    margin: 120px 0 60px 0;
    text-align: left;
}

#content h3,
#content strong {
    height: 26px;
    line-height: 26px;
    margin-top: 25px !important;
    margin-bottom: 15px !important;
}

#content p {
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 30px;
}

#content ul {
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    

}

#content ul {
    color: rgba(0, 0, 0, .7);
}

#content {
    margin-bottom: 100px;
}