#content .policy-title {
    color: #000;
    font-size: 30px;
    
    line-height: 48px;
    margin: 120px 0 60px 0;
    text-align: center;
}

#content .security-banner {
    text-align: center;
    margin-bottom: 80px;
}

#content h3,
#content strong {
    margin: 30px 0 20px 0;
    font-size: 24px;
    color: #000;
    
    height: 26px;
    line-height: 26px;
}

#content p {
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    

}

#content ul {
    color: rgba(0, 0, 0, .7);
}


#content {
    margin-bottom: 100px;
}
@media screen and (min-width: 994px) {
    #content .isH5 {
        display: none;
    }
}
@media screen and (max-width: 995px){
    #content .security-banner {
        margin-bottom: 80px;
    }
    #content .security-banner img {
        margin: 0 auto;
    }
}