.maillist .maillist-title {
    text-align: center;
}
.maillist .maillist-info p {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    margin: 40px 0 20px 0;
}
.maillist .maillist-info table {
    width: 80%;
    margin: 0 auto;
}
.table > thead > tr > th {
    vertical-align: middle;
    border-bottom: none;
    font-size: 16px;
    font-weight: normal;
}
.table > thead > tr > th:first-child {
    padding-left: 60px;
}
.maillist .maillist-info table td {
    border: none;
    height: 55px;
    line-height: 55px;
}
.maillist .maillist-info table tr td:first-child {
    padding-left: 60px;
}
.table-striped > thead > tr {
    background-color: rgba(0, 0, 0, .05);
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .05);
}
.table-striped > tbody > tr:nth-of-type(odd) {
     background-color: #fff;
 }
.maillist .maillist-guidance p {
    font-size: 14px;
    font-family: Roboto-Regular, Roboto;
    font-weight: 400;
    margin: 57px 0 61px 0;
}
.maillist .maillist-guidance.mail {
    position: relative;
    padding-top: 0;
}
.maillist .maillist-guidance {
    position: relative;
    /*padding-top: 80px;*/
}
.maillist .maillist-guidance .maillist-icon {
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: #509378 transparent transparent transparent;
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translateX(-50%);
}
.maillist .maillist-guidance .maillist-icon-comm {
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: #509378 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-47%);
}
.maillist .maillist-guidance .maillist-divider {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-1%);
    /*top: 91px;*/
    display: inline-block;
}
.maillist .maillist-guidance .maillist-divider img {
    position: relative;
    left: -18px;
    height: 1400px;
}
.maillist .maillist-guidance .maillist-divider-mail img {
    position: relative;
    left: -18px;
}
.maillist .maillist-guidance .maillist-divider-mail {
    width: 105px;
    height: 457px;
    position: absolute;
    left: 50%;
    top: 91px;
    display: inline-block;
}
.maillist .maillist-guidance .step-left .step-left-box,
.maillist .maillist-guidance .step-right .step-right-box {
    width: 380px;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 43px 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.maillist .step-left .step-left-box p a,
.maillist .step-right .step-right-box p a {
    color: #5a9b83;
}
.maillist .maillist-guidance span {
    font-size: 16px;
    font-family: HuaweiSans;
    font-weight: bold;
    line-height: 26px;
    opacity: .7;
}
.maillist .maillist-guidance .step-left .step-left-box p,
.maillist .maillist-guidance .step-right .step-right-box p {
    margin: 10px 0 0;
    line-height: 26px;
    font-weight: normal;
}
.maillist .maillist-guidance .step-left .step-left-num,
.maillist .maillist-guidance .step-right .step-right-num {
    background-image: url(/img/icons/circle.png);
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-block;
}

.maillist .maillist-guidance .step-left .step-left-num span,
.maillist .maillist-guidance .step-right .step-right-num span {
    display: inline-block;
    margin: 25px auto;
    color: #fff;
    font-size: 24px;
}
.maillist .maillist-guidance .step-left .step-left-line,
.maillist .maillist-guidance .step-right .step-right-line {
    width: 107px;
    border-bottom: 2px dashed #509378;
    display: inline-block;
    vertical-align: middle;
    opacity: .7;
}
.maillist .maillist-guidance .step-left {
    position: relative;
    left: 20px;
    z-index: 20;
}
.maillist .maillist-guidance .step-right {
    position: relative;
    right: 17px;
    text-align: right;
    margin: -30px 0;
}
.maillist .maillist-guidance .step-right.last:last-child {
    margin-bottom: 150px;
    bottom: 0;
}
.maillist .maillist-guidance .step-right:last-child {
    /*bottom: 150px;*/
}
.maillist .maillist-guidance .step-right .step-right-line {
    position: relative;
    left: 20px;
}
.maillist .maillist-guidance .step-left .step-left-line {
    position: relative;
    left: -20px;
}
.maillist .maillist-slack h3 {
    font-size: 24px;
    font-family: HuaweiSans;
    line-height: 34px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 40px 0;
}
.maillist .maillist-slack a {
    color: #5a9b83;
    font-family: HuaweiSansLight;
}
.maillist .maillist-slack ul {
    list-style-type: none;
}
@media screen and (min-width: 1200px) {
    .isPC.maillist {
        display: block;
        margin-bottom: 150px;
    }
    .isH5.maillist {
        display: none;
    }
    .maillist .maillist-title h2 {
        text-align: center;
        font-size: 40px;
        font-family: HuaweiSans;
        margin: 120px 0 21px 0;
        font-weight: normal;
    }
    .maillist .maillist-comm h3 {
        text-align: center;
        font-size: 34px;
        font-family: HuaweiSans;
        font-weight: normal;
        margin: 100px 0 40px;
    }
    .maillist .maillist-info h3 {
        text-align: center;
        font-size: 24px;
        font-family: HuaweiSans;
        font-weight: normal;
        margin-bottom: 60px;
    }
    .maillist .maillist-title img {
        max-width: 80%;
        vertical-align: middle;
        margin: 0 auto;
    }
    .maillist .maillist-comm p,
    .maillist .maillist-info p {
        font-size: 14px;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
    }
    .maillist .maillist-info table {
        width: 90%;
        margin: 30px auto 0;
    }
    .table > thead > tr > th {
        vertical-align: middle;
        border-bottom: none;
        font-size: 16px;
        font-weight: normal;
        padding: 15px 13px;
    }
    .maillist .maillist-info table td {
        border: none;
        height: 55px;
        line-height: 55px;
        padding: 15px;
    }
    .maillist .maillist-info table tr td a {
        color: #5a9b83;
    }
    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, .05);
    }
    .maillist .maillist-info table tr td:first-child {
        padding-left: 60px;
    }
    .table > thead > tr > th:first-child {
        padding-left: 60px;
    }
    .maillist .maillist-slack {
        margin-bottom: 100px;
    }
    .maillist .maillist-slack .slack-empty {
        margin: 0;
    }
    .maillist .maillist-slack p {
        font-size: 14px;
        font-weight: normal;
        font-family: Roboto-Regular, Roboto;
    }
    .maillist .maillist-slack ul {
        list-style-type: none;
    }
    .table > tr > td:nth-child(3) {
        width: 30px;
    }
}
@media screen and (min-width: 995px) and (max-width: 1200px) {
    .isPC.maillist {
        display: block;
        margin-bottom: 150px;
    }
    .isH5.maillist {
        display: none;
    }
    .maillist .maillist-title h2 {
        text-align: center;
        font-size: 40px;
        font-family: HuaweiSans;
        margin: 120px 0 21px 0;
        font-weight: normal;
    }
    .maillist .maillist-comm h3 {
        text-align: center;
        font-size: 34px;
        font-family: HuaweiSans;
        font-weight: normal;
        margin: 100px 0 40px;
    }
    .maillist .maillist-info h3 {
        text-align: center;
        font-size: 24px;
        font-family: HuaweiSans;
        font-weight: normal;
        margin-bottom: 60px;
    }
    .maillist .maillist-title img {
        max-width: 80%;
        vertical-align: middle;
        margin: 0 auto;
    }
    .maillist .maillist-comm p,
    .maillist .maillist-info p {
        font-size: 14px;
        font-family: Roboto;
        font-weight: 400;
    }
    .maillist .maillist-info table {
        width: 90%;
        margin: 30px auto 0;
    }
    .table > thead > tr > th {
        vertical-align: middle;
        border-bottom: none;
        font-size: 16px;
        font-weight: normal;
        padding: 15px 13px;
    }
    .maillist .maillist-info table td {
        border: none;
        height: 55px;
        line-height: 55px;
        padding: 15px;
    }
    .maillist .maillist-info table tr td a {
        color: #5a9b83;
    }
    .table-striped > tbody > tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, .05);
    }
    .maillist .maillist-info table tr td:first-child {
        padding-left: 60px;
    }
    .table > thead > tr > th:first-child {
        padding-left: 60px;
    }
    .maillist .maillist-slack {
        margin-bottom: 100px;
    }
    .maillist .maillist-slack .slack-empty {
        margin: 0;
    }
    .maillist .maillist-slack p {
        font-size: 14px;
        font-weight: normal;
        font-family: HuaweiSansLight;
        /*padding: 0 25px;*/
    }
    .maillist .maillist-slack ul {
        list-style-type: none;
    }
    .table > tr > td:nth-child(3) {
        width: 30px;
    }
    .maillist .maillist-guidance .step-right .step-right-line {
        display: none;
    }
    .maillist .maillist-guidance .step-left .step-left-line {
        display: none;
    }
    .maillist .maillist-guidance .step-right {
        position: relative;
        right: 12px;
        text-align: right;
        margin: -30px 0;
    }
    .maillist .maillist-guidance .step-left {
        position: relative;
        left: 15px;
        z-index: 20;
    }
    .maillist .maillist-guidance .maillist-divider {
        display: none;
    }
    .maillist .maillist-guidance .maillist-divider-mail {
        display: none;
    }
}
@media screen and (min-width: 789px) and (max-width: 994px) {
    .isPC.maillist {
        display: none;
    }
    .isH5.maillist {
        display: block;
    }
    .maillist .maillist-title h2 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        font-family: HuaweiSans;
        margin-top: 120px;
    }
    .maillist .maillist-comm h3 {
        text-align: center;
        font-size: 24px;
        font-family: HuaweiSans;
        font-weight: normal;
        margin: 40px 0 40px;
    }
    .maillist .maillist-info h3 {
        text-align: center;
        font-size: 24px;
        font-family: HuaweiSans;
        font-weight: normal;
    }
    .maillist .maillist-title img {
        max-width: 100%;
    }
    .maillist .maillist-info span {
        font-size: 16px;
        font-weight: 600;
        color: #5a9b83;
    }
    .maillist .maillist-comm p,
    .maillist .maillist-info p {
        text-align: center;
        padding: 0 30px;
    }
    .maillist .maillist-info table {
        width: 90%;
        margin: 40px auto 40px;
        box-sizing: border-box;
    }
    .table > thead > tr > th:first-child,
    .maillist .maillist-info table tr td:first-child
    {
        padding-left: 15px;
    }
    .isH5 > p {
        font-size: 14px;
        text-align: left;
        margin: 0 30px;
    }
    .isH5 .maillist-H5-step {
        margin: 30px 0 44px 0;
    }
    .isH5 .maillist-H5-step .step-num {
        background-image: url(/img/icons/circle.png);
        width: 90px;
        height: 90px;
        text-align: center;
        margin: 0 auto;
    }
    .isH5 .maillist-H5-step .step-num span {
        display: inline-block;
        margin: 23px auto;
        color: #fff;
        font-size: 24px;
    }
    .isH5 .maillist-H5-step .maillist-H5-description {
        width: 380px;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1);
        border-radius: 8px;
        padding: 25px 20px;
        margin: 0 auto;
    }
    .isH5 .maillist-H5-step .maillist-H5-description p {
        margin: 0;
        padding: 10px 0 0;
        text-align: left;
        line-height: 26px;
    }
    .maillist .maillist-slack {
        margin-bottom: 80px;
    }
    .maillist .maillist-slack p {
        font-size: 14px;
        font-weight: normal;
        font-family: HuaweiSansLight;
        padding: 0 30px;
    }
}
@media screen and (max-width: 768px) {
    .isPC.maillist {
        display: none;
    }
    .isH5.maillist {
        display: block;
    }
    .maillist .maillist-title h2 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        font-family: HuaweiSans;
        margin-top: 120px;
    }
    .maillist .maillist-comm h3 {
        text-align: center;
        font-size: 24px;
        font-family: HuaweiSans;
        font-weight: normal;
        margin: 40px 0 40px;
    }
    .maillist .maillist-info h3 {
        text-align: center;
        font-size: 24px;
        font-family: HuaweiSans;
        font-weight: normal;
    }
    .maillist .maillist-title img {
        max-width: 100%;
        margin: 0 auto;
    }
    .maillist .maillist-info span {
        font-size: 14px;
        font-weight: 400;
    }
    .maillist .maillist-comm p,
    .maillist .maillist-info p {
        text-align: center;
        padding: 0 30px;
    }
    .maillist .maillist-info table {
        width: 90%;
        margin: 40px auto 40px;
        box-sizing: border-box;
    }
    .maillist .maillist-info table td {
        line-height: 26px;
    }
    .table > thead > tr > th:first-child,
    .maillist .maillist-info table tr td:first-child {
        padding-left: 15px;
        vertical-align: middle;
    }.table > thead > tr > th:first-child,
     .maillist .maillist-info table tr td:nth-child(2) {
         vertical-align: middle;
     }
    .isH5 > p {
        font-size: 14px;
        text-align: left;
        margin: 0 30px;
    }
    .isH5 .maillist-H5-step {
        margin: 30px 0 44px 0;
    }
    .isH5 .maillist-H5-step .step-num {
        background-image: url(/img/icons/circle.png);
        width: 90px;
        height: 90px;
        text-align: center;
        margin: 0 auto;
    }
    .isH5 .maillist-H5-step .step-num span {
        display: inline-block;
        margin: 23px auto;
        color: #fff;
        font-size: 24px;
    }
    .isH5 .maillist-H5-step .maillist-H5-description {
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .1);
        border-radius: 8px;
        padding: 25px 20px;
        margin: 0 45px;
    }
    .isH5 .maillist-H5-step .maillist-H5-description p {
        margin: 0;
        padding: 10px 0 0;
        text-align: left;
        line-height: 26px;
    }
    .maillist .maillist-slack {
        margin-bottom: 80px;
    }
    .maillist .maillist-slack p {
        font-size: 14px;
        font-weight: normal;
        font-family: HuaweiSansLight;
        padding: 0 30px;
    }
}