<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/blog.css" | relURL}}{{ .Site.Params.version }}">
{{ partial "head.html" . }}
{{$lan := index (split .URL "/") 1 }}
{{if ne $lan "zh-cn"}}
{{$lan = "" }}
{{else}}
{{$lan = "zh-cn/" }}
{{end}}

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>
        <div class="tag-filter">
            <div class="tag-filter-header">
                <div class="header-left">
                    <img style="height:16px; width: 16px;" src="../img/blogs/ic_filter.png" alt="">
                    <span>{{ i18n "MAIN_POSTBLOG_FILTER"}}</span>
                </div>
                <div  class="header-right">
                    <a style="color:rgba(0,0,0,1);line-height:26px;" href={{ i18n "BLOG_LINK"}} >
                    <img style="height:16px; width: 16px;" src="../img/blogs/Style1.png" alt="">
                    <span>{{ i18n "MAIN_POSTBLOG_SOURCE"}}</span>
                </a>
                </div>
            </div>
            <div class="tag-filter-content hide">
                <p>{{ i18n "SIDEBAR_TAG" }}</p>
                <ul>
                    {{ range $name, $items := .Site.Taxonomies.tags }}
                        <a href="{{ "tags/" | relURL }}{{ $name | urlize | lower }}.html"> {{ $name }}</a>
                        {{ end }}
                </ul>
            </div>
        </div>
        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <h2 class="blog-post">{{ i18n "BLOG_TITLE" }}</h2>

                    <div class="col-md-9" id="blog-listing-medium">

                        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2><a class="fz16" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                                    <div class="clearfix">
                                        <p class="author fz12">
                                            {{ if isset .Params "author" }}
                                            <span>{{ .Params.author }}</span>
                                            {{ end }}
                                        </p>
                                        {{ if isset .Params "date" }}
                                        <p class="date-comments fz12">
                                            <span class="character fz12">|</span>
                                            <span> {{ .Date.Format .Site.Params.date_format }}</span>
                                            <span class="character fz12">|</span>
                                        </p>
                                        {{ end }}
                                        <p class="tags">
                                            {{ if isset .Params "tags" }}
                                            {{ if gt (len .Params.tags) 0 }}
                                            {{ range .Params.tags }}
                                            <a class="fz12"
                                            href="{{ $.Site.BaseURL }}{{$lan}}tags/{{ . | urlize }}.html">{{ . }}</a>
                                            {{ end }}
                                            {{ end }}
                                            {{ end }}
                                        </p>
                                    </div>
                                    <p class="intro fz14">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}"class="view-more">{{ i18n "MAIN_LIST_MORE" }}</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                        {{ end }}

                    </div>
                    <!-- /.col-md-9 -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN ***
       _________________________________________________________ -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->
                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/blog.js" | relURL }}{{ .Site.Params.version }}"></script>

</body>

</html>
