<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>

        <div class="download-content">
            <div class="download-container">
                <div class="container-top">
                    <h1 class="download-title docs-pic-title title-adapter-max">{{ .Params.top_title_max }}</h1>
                    <h3 class="download-title docs-pic-title title-adapter-min">{{ .Params.top_title_min }}</h3>
                    <img class="docs-pic" src="../img/banners/Banner.png" alt="">
                </div>
                <div class="download-descript">
                    <h2 class="title-adapter-max">{{ .Params.second_title }}</h2>
                    <p>
                        {{ .Params.description_1 }}
                        {{ .Params.description_2 }}
                    </p>
                </div>
                <div class="download-button">
                    <div class="download-btn btn1">
                        <h4>{{ .Params.third_title }}</h4>
                        <button>{{ .Params.button_1 }}</button>
                    </div>
                    <div class="download-btn btn2">
                        <h4>{{ .Params.third_title }}</h4>
                        <button>{{ .Params.button_2 }}</button>
                    </div>
                </div>
            </div>
        </div>

        {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}

</body>
</html>