<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
<div id="all">
    <header>
        {{ partial "nav.html" . }}
    </header>

    <div class="news-card">

        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="recent-news">Recent News</h2>
                        {{ $paginator := .Paginate (where .Data.Pages "Type" "news") }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                <h5 class="author-category">
                                    {{ if isset .Params "author" }}
                                        <span>{{ .Params.author }}</span>
                                        <span class="line"></span>
                                        <span class="news-date">{{ .Date.Format .Site.Params.date_format }}</span>
                                        
                                    {{ end }}
                                </h5>
                                <p>{{ .Params.description }}</p>
                                <p class="view-more"><a href="{{ .Permalink }}">View More</a></p>
                            </div>
                        </section>
                        {{ end }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ partial "scripts.html" . }}
</html>