/* You can add custom styles here. */

// @import "plugins/numbered";
body {
    overflow-x: unset;
}

.book-menu nav {
    // margin-top: 80px;
    position: static;
    padding-left: 0;
}

.book-toc {
    padding-top: 7.5em;
}

.book-toc nav {
    position: static;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.book-toc nav a {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    line-height: 16px;
    font-family: HuaweiSans;
}

.container-top h1 {
    font-weight: bold;
}

.docs-footer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    height: 20px;
}

.docs-footer a {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: HuaweiSans;
}

.docs-footer .doc-back {
    position: absolute;
    left: 0;
}

.docs-footer .doc-next {
    position: absolute;
    right: 0;
}

.book-menu a.active {
    color: rgba(90, 155, 131, 1);
}

.book-section-flat > a {
    font-weight: normal;
}

.book-menu a.collapsed::after {
    margin-right: 30px;
}

#book-search-input {
    background: rgba(255, 255, 255, 1);
    border-radius: 1px;
    border: 1px solid rgba(196, 205, 213, 1);
    outline: none;
}

#book-search-results {
    max-height: 300px;
    overflow-y: scroll;
}

.book-menu a.collapsed::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(img/book-menu/Right.png) left center no-repeat;
}

.book-menu a.collapsed::after {
    content: none;
}

.book-menu a.collapsed {
    justify-content: unset;
}

.arrow-down {
    color: rgba(90, 155, 131, 1) !important;
}

.arrow-down::before {
    content: "" !important;
    width: 20px;
    height: 20px;
    background: url(img/book-menu/Down.png) left center no-repeat !important;
    background-position: center left;
}

li:not(.book-section-flat) ul {
    padding-left: 35px;
}
.book-menu > nav > ul > li > ul {
    padding-left: 0 !important;
}

.unsel-menu-color {
    color: rgba(0, 0, 0, .7) !important;
    font-family: Helvetica-Light, Helvetica;
}

.book-menu a {
    font-size: 16px;
}

.book-page .markdown h1 {
    font-size: 34px;
    color: #000;
}

.book-page .markdown h2 {
    font-size: 34px;
    color: #000;
}

.book-page .markdown p,
.book-page .markdown ul li,
.book-page .markdown ol li {
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
    font-family: HuaweiSansLight;
}

.book-page .markdown a {
    color: #5A9B83;
}

.book-toc {
    left: 0;
}

main.container {
    padding: 0;
}
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: rgba(0,0,0,0.4);
    width: calc(100vw);
    z-index: 99999;
}
.mobile-header-wrapper {
    height: 70px;
}
@media screen and (max-width: 56rem) {
    .book-menu {
        margin-inline-start: -18rem;
    }
}
.book-menu {
    flex: 0 0 18rem;
}
@media screen and (max-width: 56rem) {
    #menu-control:checked + main .book-menu nav, #menu-control:checked + main .book-page {
        transform: translateX(18rem);
    }
}
.jstree-open > i {
    background:url(img/book-menu/Down.png) left center no-repeat !important;
    width: 16px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
}
.jstree-closed > i {
    background: url(img/book-menu/Right.png) left center no-repeat !important;
    width: 16px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
}
.jstree-anchor {
    display: inline-block;
}
#docstreeview > ul > .jstree-leaf {
    padding-left: 16px;
}
.jstree-anchor:focus {
    outline: none;
}