/* You can add custom styles here. */

// @import "plugins/numbered";
body {
    overflow-x: unset;
}

.book-menu nav {
    // margin-top: 80px;
    position: static;
    padding-left: 0;
}

.book-toc {
    padding-top: 60px;
}

.book-toc nav {
    position: static;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

#TableOfContents {
    padding-top: 2em;
}

.book-toc nav a {
    color: rgba(0, 0, 0, .7);
    font-size: 16px;
    line-height: 16px;
    font-family: HuaweiSans;
}

.container-top h1 {
    font-weight: bold;
}

.docs-footer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    height: 20px;
}

.docs-footer a {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: HuaweiSans;
}

.docs-footer .doc-back {
    position: absolute;
    left: 0;
}

.docs-footer .doc-next {
    position: absolute;
    right: 0;
}

.book-menu a.active {
    color: rgba(90, 155, 131, 1);
}

.book-section-flat > a {
    font-weight: normal;
}

.book-menu a.collapsed::after {
    margin-right: 30px;
}

#book-search-input {
    background: rgba(255, 255, 255, 1);
    border-radius: 1px;
    border: 1px solid rgba(196, 205, 213, 1);
    outline: none;
}

#book-search-results {
    max-height: 300px;
    overflow-y: scroll;
}

.book-menu a.collapsed::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(img/book-menu/Right.png) left center no-repeat;
}

.book-menu a.collapsed::after {
    content: none;
}

.book-menu a.collapsed {
    justify-content: unset;
}

.arrow-down {
    color: rgba(90, 155, 131, 1) !important;
}

.arrow-down::before {
    content: "" !important;
    width: 20px;
    height: 20px;
    background: url(img/book-menu/Down.png) left center no-repeat !important;
    background-position: center left;
}

li:not(.book-section-flat) ul {
    padding-left: 35px;
}
.book-menu > nav > ul > li > ul {
    padding-left: 0 !important;
}

.unsel-menu-color {
    color: rgba(0, 0, 0, .7) !important;
    font-family: Helvetica-Light, Helvetica;
}
.book-menu > nav > div > ul > li > a > p > a {
    font-size: 16px;
}
.book-menu a {
    font-size: 14px;
    font-family: HuaweiSans;
}

.book-page .markdown h1 {
    font-size: 30px;
    color: #000;
    font-family: HuaweiSans;
}

.book-page .markdown h2 {
    font-size: 24px;
    color: #000;
    font-family: HuaweiSans;
}

.book-page .markdown p,
.book-page .markdown ul li,
.book-page .markdown ol li {
    font-size: 14px;
    color: rgba(0, 0, 0, .7);
    font-family: Roboto-regular;
}

.book-page .markdown a {
    color: #5A9B83;
}

.book-toc {
    left: 0;
    padding-top: 60px !important;
}

main.container {
    padding: 0;
}
.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: rgba(0,0,0,0.4);
    width: calc(100vw);
    z-index: 99999;
}
.mobile-header-wrapper {
    height: 60px;
}
@media screen and (max-width: 56rem) {
    .book-menu {
        margin-inline-start: -20rem;
    }
    .book-menu > nav {
        overflow-y: scroll;
        width: 18rem;
        padding-left: 3px !important;
        background-color: #fff;
        z-index: 2;
        position: fixed;
        top: 130px;
        max-height: calc(100vh - 130px);
    }
    #content {
        overflow-x: hidden;
        margin-bottom: 0;
    }
}
.book-menu {
    flex: 0 0 20rem;
    margin-top: 60px;
}
.book-menu > nav {
    overflow-x: visible;
}
.book-menu > nav::-webkit-scrollbar {
    width: 4px;
}
.book-menu > nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.book-menu > nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);

}
@media screen and (max-width: 56rem) {
    #menu-control:checked + main .book-menu nav, #menu-control:checked + main .book-page {
        transform: translateX(19rem);
    }
}
.jstree-open > i {
    background:url(img/book-menu/Unfold.svg) left center no-repeat !important;
    width: 16px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
    margin-right: 6px;
}
.jstree-closed > i {
    background: url(img/book-menu/Fold.svg) left center no-repeat !important;
    width: 16px;
    height: 20px;
    display: inline-block;
    vertical-align: sub;
    position: relative;
    left: 4px;
    margin-right: 6px;
}
.jstree-anchor {
    display: inline-block;
}
#docstreeview > ul > .jstree-leaf {
    padding-left: 22px;
}
aside nav ul a:hover {
    color: unset;
    opacity: unset
}
.jstree-anchor:focus {
    outline: none;
}
@media screen and (min-width: 80rem) {
    .book-page, .book-menu nav, .book-toc nav {
        padding-top: unset;
    }
    .book-menu > nav {
        background-color: #fff;
        z-index: 2;
        position: fixed;
        top: 130px;
        max-height: calc(100vh - 274px);
        overflow-y: scroll;
        padding-right: 0;
    }
}

@media screen and (max-width: 56rem) {
    .book-menu > nav {
        padding: 0;
    }
    #docstreeview {
        padding-left: 10px;
    }
}
.book-toc-avtive {
    color: #5A9B83 !important;
}
.doc-menu-control {
    text-align: center;
}
#content {
    width: 100%;
}
