{{ if isset .Site.Params "blog"}}
{{ if .Site.Params.blog.enable }}

<div class="col-md-6 mt62">
    <h1 class="title fz24 home-info-adapter">
        {{ i18n "MAIN_BLOG_TITLE" }}
    </h1>

    <ul>
        {{ $posts := where .Site.RegularPages "Type" "blog" }}
        {{ range first 2 $posts }}
        <li>
            <a href="{{ .URL }}">
                <p class="fz16 one-row">{{ .Title }}</p>
            </a>
            {{ if or .Params.author .Params.date }}
            <p class="text-left home-blog">
                {{ if .Params.author }}{{ i18n "authorBy" }}{{ .Params.author }}{{ end }}
                {{ if and .Params.author .Params.date }} | {{ end }}
                {{ if .Params.date }}{{ .Date.Format .Site.Params.date_format }}{{ end }}
            </p>
            {{ end }}
            <p class="two-row">{{ .Summary }}</p>
        </li>
        {{ end }}
    </ul>
    <a href="{{"/blog" | relLangURL}}.html" target="_blank">
        <p> {{ i18n "MAIN_LIST_MORE" }} </p>
    </a>
</div>

{{ end }}
{{ end }}