{{ if isset .Site.Params "blog"}}
{{ if .Site.Params.blog.enable }}

<div class="col-md-6 mt62">
    <h2 class="text-center title fz24">
        {{ i18n "MAIN_BLOG_TITLE" }}
    </h2>

    <ul>
        {{ $posts := where .Site.RegularPages "Type" "blog" }}
        {{ range first 2 $posts }}
        <li>
            <a href="{{ .URL }}">
                <p class="fz16">{{ .Title }}</p>
            </a>
            {{ if or .Params.author .Params.date }}
            <p class="text-left home-blog">
                {{ if .Params.author }}{{ i18n "authorBy" }} <a class="fz16" href="#">{{ .Params.author }}</a>{{ end }}
                {{ if and .Params.author .Params.date }} | {{ end }}
                {{ if .Params.date }}{{ .Date.Format .Site.Params.date_format }}{{ end }}
            </p>
            {{ end }}
            <p>{{ .Params.description }}</p>
        </li>
        {{ end }}
    </ul>
    <a href="{{"/blog/" | relLangURL}}" target="_blank">
        <p class="text-center"> {{ i18n "MAIN_LIST_MORE" }} </p>
    </a>
</div>

{{ end }}
{{ end }}