{{ if isset .Site.Params "blog"}}
{{ if .Site.Params.blog.enable }}

<div class="col-md-6">
    <h2>
        {{ i18n "MAIN_BLOG_TITLE" }}
    </h2>

    <ul>
        {{ $posts := where .Site.RegularPages "Type" "blog" }}
        {{ range first 4 $posts }}
        <li>
            <a href="{{ .URL }}">
                <p>{{ .Title }}</p>
            </a>
            {{ if or .Params.author .Params.date }}
                <p class="text-left home-blog">
                  {{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>{{ end }}
                  {{ if and .Params.author .Params.date }} | {{ end }}
                  {{ if .Params.date }}{{ .Date.Format .Site.Params.date_format }}{{ end }}
                </p>
            {{ end }}
            <p>{{ .Params.description }}</p>
        </li>
        {{ end }}
    </ul>
    <a href='{{"/blog/" | relLangURL}}' target="_blank">
        <p> {{ i18n "MAIN_LIST_MORE" }} </p>
    </a>
</div>

{{ end }}
{{ end }}