<!-- valine -->
{{- if .Site.Params.valine.enable -}}
<!-- id 将作为查询条件 -->
<link rel="stylesheet" href="{{ "css/comment.css" | absURL }}" />
<div id="vcomments"></div>
<script src="//cdn1.lncld.net/static/js/4.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>

<script type="text/javascript">
  new Valine({
    el: '#vcomments',
    appId: '{{ .Site.Params.valine.appId }}',
    appKey: '{{ .Site.Params.valine.appKey }}',
    notify: true,
    verify: true,
    avatar: '{{ .Site.Params.valine.avatar }}',
    placeholder: '{{ .Site.Params.valine.placeholder }}',
    visitor: true,
    meta: ['nick', 'mail', 'link'],
    lang: "en"
  });
</script>
{{- end -}}