<footer id="footer">
    <div id="copyright">
        <div class="container">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="logo">
                        <img src="/img/banners/openLookengLogo.svg" alt="">
                    </div>
                    <div class="logo-bottom">
                        <p><a href="mailto:{{ .Site.Params.email | safeHTML }}">{{ .Site.Params.email | safeHTML }}</a></p>
                </div>
                </div>

                <div class="copyright-right">
                    <div class="pull-code isPC img">
                        <p class="code-sub">
                            {{ .Site.Params.scancode.text | safeHTML }}
                        </p>
                        <img src="/img/icons/wechat_QR.jpg" alt="">
                    </div>
                    <div class="pull-code isH5 img">
                        <img src="/img/icons/wechat_QR.jpg" alt="">
                        <p class="code-sub">
                            <span>{{ i18n "WECHAT_QRCODE" }}</span>
                        </p>
                    </div>
                    <div class="pull-right">
                        {{ .Site.Params.copyright.text | safeHTML }}
                        <span class="block">
                        <i class="size-14px">{{ .Site.Params.provide | safeHTML }}</i><i>{{ .Site.Params.license | safeHTML }}</i>
                    </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

