<footer id="footer">
    <div id="copyright">
        <div class="container">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="logo">
                        <img src="../img/banners/openLooKengLogo.png" alt="">
                    </div>
                    <div class="logo-bottom">
                        <p><a href="mailto:{{ .Site.Params.email | safeHTML }}"><img src="img/foundation/email.png" alt="email">{{ .Site.Params.email | safeHTML }}</a></p>
                </div>
                </div>
    
                <p class="pull-right">
                {{ .Site.Params.copyright.text | safeHTML }}   
                <span class="block">
                <i class="size-14px">{{ .Site.Params.provide | safeHTML }}</i><i>{{ .Site.Params.license | safeHTML }}</i>
                </span>
                </p>
            </div>
        </div>
    </div>
    
</footer>
