
<section>
    <div class="home-banner">
        <h1 class="banner-p1 margin-auto">{{ i18n "HOME_BANNER_SLOGAN" }}</h1>
        <p class="banner-p2 margin-auto">{{ i18n "HOME_BANNER_DES" }}</p>
        <div class="home-img">
            <a href={{ i18n "HOME_GETSTARTLINK" }}>{{ i18n "HOME_GETSTART" }}</a>
            <img class="isPC img" src="../img/banners/homeBanner.png" alt="">
            <img class="isH5 img" src="../img/banners/Banner-mobile.png" alt="">
        </div>
    </div>
</section>
