<section>
    <div class="home-whyOpenLK">
        <H2 class="why-title">{{ i18n "HOME_WHY_OPENLOOKENG" }}</H2>
        <div class="item">
            <video class="video" controls muted src={{ i18n "HOME_VIDEO01" }}></video>
            <div class="item-right">
                <h3 class="title">{{ i18n "HOME_WHY_OLK_TITLE01" }}</h3>
                <div class="descr">
                    <p class="descr-item">{{ i18n "HOME_WHY_OLK_TITLE01_DESCR01" }}</p><br/>
                    <p class="descr-item">{{ i18n "HOME_WHY_OLK_TITLE01_DESCR02" }}</p>
                </div>
            </div>
        </div>
        <div class="bg">
            <div class="item item02">
                <div class="item-left">
                    <h3 class="title">{{ i18n "HOME_WHY_OLK_TITLE02" }}</h3>
                    <div class="descr">
                        <p class="descr-item">{{ i18n "HOME_WHY_OLK_TITLE02_DESCR01" }}</p><br/>
                        <p class="descr-item">{{ i18n "HOME_WHY_OLK_TITLE02_DESCR02" }}</p>
                    </div>
                </div>
                <video class="video02" controls muted src= {{ i18n "HOME_VIDEO01" }}></video>
            </div>
        </div>
        <div class="item">
            <video class="video" controls muted src={{ i18n "HOME_VIDEO01" }}></video>
            <div class="item-right">
                <h3 class="title">{{ i18n "HOME_WHY_OLK_TITLE03" }}</h3>
                <div class="descr">
                    <p class="descr-item">{{ i18n "HOME_WHY_OLK_TITLE03_DESCR01" }}</p><br />
                    <p class="descr-item">{{ i18n "HOME_WHY_OLK_TITLE03_DESCR02" }}</p>
                </div>
            </div>
        </div>
        <div class="summit">
            <h2 class="summit-title">{{ i18n "HOME_SUMMIT" }}</h2>
            <img src="../img/banners/Bitmap.png" alt="">
        </div>
    </div>
</section>