<section>
    <div class="videos-wrapper">
        <h1 class="title">{{ i18n "HOME_WHY" }}</h1>
        <div class="video-right-item">
            <div class="item-left">
                <h3 class="left-title">{{ i18n "HOME_SIMPLE" }}</h3>
                <p>{{ i18n "HOME_SIMPLE_DES1" }}</p>
            </div>
            <div class="item-right">
                <video class="video" muted autoplay loop playsinline>
                    <source crossorigin="anonymous" src="https://openlookeng-website-beijing.obs.cn-north-4.myhuaweicloud.com/Feature1.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="video-left-item">
            <div class="item-left">
                <video class="video" muted autoplay loop playsinline>
                    <source crossorigin="anonymous" src="https://openlookeng-website-beijing.obs.cn-north-4.myhuaweicloud.com/Feature2.mp4" type="video/mp4">
                </video>

            </div>
            <div class="item-right">
                <h3 class="right-title">{{ i18n "HOME_FLEXIBLE" }}</h3>
                <p>{{ i18n "HOME_FLEXIBLE_DES1" }}</p>
            </div>
        </div>
        <div class="video-right-item">
            <div class="item-left">
                <h3 class="left-title">{{ i18n "HOME_AVAIABLE" }}</h3>
                <p>{{ i18n "HOME_AVAIABLE_DES1" }}</p>
                <p>{{ i18n "HOME_AVAIABLE_DES2" }}</p>
            </div>
            <div class="item-right">
                <video class="video" muted autoplay loop playsinline>
                    <source crossorigin="anonymous" src="https://openlookeng-website-beijing.obs.cn-north-4.myhuaweicloud.com/Feature3.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>