<section  class='banner-container'>
    <div class="swiper-container banner_swiper home-banner">
        <div class="swiper-wrapper banner_swiper_wrapper">
            {{ range where $.Page.Site.Pages "Type" "banner" }}
            <!-- {{ if .Params.number}} -->
            <div class="swiper-slide banner_swiper_slide"> 
                <div class="swiper-link swiper-newyear">  
                    <a class="banner-body-bg" target="_blank" href={{.Params.hrefUrl }}>
                        <div class="left-img block" style="background-image: url({{ .Params.bgLeft }})"></div>                        
                        <div class="center-img isPCshow" style="background-image: url({{ .Params.bgUrl }})"></div> 
                        <img class="isH5show" src="{{ .Params.mobileUrl }}" alt="">
                        <div class="right-img block" style="background-image: url({{ .Params.bgRight }})"></div>
                    </a> 
                </div> 
            </div>
            <!-- {{ end }} -->
            {{ end }}
        </div>

        <div class="swiper-button-next hide"></div>
        <div class="swiper-button-prev hide"></div>
        <div class="swiper-pagination banner_swiper_pagination"></div>
    </div>
</section>


