<section>
    <div class="home-why">
        <h2 class="why-title">{{ i18n "HOME_WHY" }}</h2>
        <div class="item home-adapter">
            <video class="video" controls muted poster="../../img/banners/video-cover1.png">
                <source src="../../video/highlight1.mp4" type="video/mp4">
            </video>
            <div class="item-right">
                <h3 class="title">{{ i18n "HOME_SIMPLE" }}</h3>
                <div class="descr">
                    <p class="descr-item">{{ i18n "HOME_SIMPLE_DES1" }}</p>
                    <p class="descr-item">{{ i18n "HOME_SIMPLE_DES2" }}</p>
                </div>
            </div>
        </div>
        <div class="bg">
            <div class="item item02 home-adapter">
                <div class="item-left mid-content">
                    <h3 class="title">{{ i18n "HOME_FLEXIBLE" }}</h3>
                    <div class="descr">
                        <p class="descr-item">{{ i18n "HOME_FLEXIBLE_DES1" }}</p>
                        <p class="descr-item">{{ i18n "HOME_FLEXIBLE_DES2" }}</p>
                    </div>
                </div>
                <video class="video" controls muted poster="../../img/banners/video-cover2.png">
                    <source src="../../video/highlight2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="item home-adapter">
            <video class="video" controls muted poster="../../img/banners/video-cover3.png">
                <source src="../../video/highlight3.mp4" type="video/mp4">
            </video>
            <div class="item-right">
                <h3 class="title">{{ i18n "HOME_AVAIABLE" }}</h3>
                <div class="descr">
                    <p class="descr-item">{{ i18n "HOME_AVAIABLE_DES1" }}</p>
                </div>
            </div>
        </div>
    </div>
</section>