{{ if isset .Site.Params "news"}}
{{ if .Site.Params.news.enable }}

<div class="col-md-6">
    <h2 class="text-center title">
        {{ i18n "MAIN_NEWS_TITLE" }}
    </h2>

    <ul>
        {{ $posts := where .Site.RegularPages "Type" "news" }}
        {{ range first 4 $posts }}
        <li>
            <a href="{{ .URL }}">
                <p>{{ .Title }}</p>
            </a>
            {{ if or .Params.author .Params.date }}
                <p class="text-left home-news">
                  {{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>{{ end }}
                  {{ if and .Params.author .Params.data }} | {{ end }}
                  {{ if .Params.data }}{{ .Date.Format .Site.Params.date_format }}{{ end }}
                </p>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    <a href="{{"/news/" | relLangURL}}" target="_blank">
        <p> {{ i18n "MAIN_LIST_MORE" }} </p>
    </a>
</div>

{{ end }}
{{ end }}