<section>
    <div class="container home-links">
        <h2>{{ i18n "MAIN_RELATED_LINKS"}}</h2>
        <div class="home-links-imgs">
            <a target="_blank" href="{{ i18n "OPEN_EULER_WEBSITE_URL"}}"><img src="../img/partner/openEuler.svg" alt="openEuler"></a>
            <a target="_blank" href="{{ i18n "OPEN_GAUSS_WEBSITE_URL"}}"> <img src="../img/partner/openGauss.svg" alt="openGauss"></a>
            <a target="_blank" href="{{ i18n "OPEN_KUNPENG_WEBSITE_URL"}}"><img src="../img/partner/kunpeng.svg" alt="kunpeng"></a>
            <a target="_blank" href="{{ i18n "OPEN_MULAN_WEBSITE_URL"}}"><img src="../img/partner/mulan.svg" alt="kunpeng"></a>
        </div>
    </div>
</section>