<section>
<div class="container home-links">
        <h1>{{ i18n "MAIN_RELATED_LINKS"}}</h1>
        <div class="home-links-imgs">
            <a target="_blank" href="{{ i18n "OPEN_EULER_WEBSITE_URL"}}"><img loading="lazy" src="../img/partner/openEuler.png" alt="openEuler" /></a>
            <a target="_blank" href="{{ i18n "OPEN_GAUSS_WEBSITE_URL"}}"> <img loading="lazy" src="../img/partner/openGauss.png" alt="openGauss" /></a>
            <a target="_blank" href="{{ i18n "OPEN_KUNPENG_WEBSITE_URL"}}"><img loading="lazy" src="../img/partner/kunpeng.png" alt="kunpeng" /></a>
            <a target="_blank" href="{{ i18n "OPEN_MULAN_WEBSITE_URL"}}"><img loading="lazy" src="../img/partner/mulan.png" alt="mulan" /></a>
        </div>
    </div>
</section>