{{ $posts := where .Site.RegularPages "Type" "==" "powered" }}

<section>
    <div class="container home-powered-links">
        <h1> {{i18n "MAIN_POWERED_LINKS"}}</h1>
        <div class="home-powered-imgs">
            {{ range $posts}}
            <a href="/zh-cn/powered.html#{{ .Params.id }}">
                <img loading="lazy" src="../img/partner/{{ .Params.id}}.png" alt="BEIMING SOFTWARE logo" /> <br>
                <span>{{ .Params.title}} ({{ .Params.total }})</span>
            </a>
            {{ end }}
        </div>
    </div>
</section>