<link rel="stylesheet" href="{{ "css/raffle.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
<div id="content">
    <div class="container raffle">
        <div class="row">
            <div class="banner"></div>
            <div class="intro-1">
                <h2>{{ .Params.h1 }}</h2>
                <p>{{ .Params.p1 }}</p>
                <p>{{ .Params.p2 }}</p>
            </div>
            <div class="img-price">
                <img src="/img/events/raffle-price.png" alt="">
            </div>
            <div class="intro-2">
                <p>{{ .Params.p3 }}</p>
                <p>{{ .Params.p4 }}</p>
            </div>
            <div class="btns">
                <div class="box-4 button">
                    <p class="desc">{{ .Params.desc4}}<br>{{ .Params.desc5}}</p>
                    <p class="note">{{ .Params.note}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
