{{ template "_internal/google_analytics.html" . }}
<script src="common/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<script src="common/bootstrap.min.js" crossorigin="anonymous"></script>

<script src="common/jquery.cookie.min.js"></script>
<script src="common/jquery.waypoints.min.js"></script>
<script src="common/jquery.counterup.min.js"></script>
<script src="common/jquery-parallax.js"></script>


<script src="{{.Site.BaseURL }}js/cla.js?t=20191230"></script>

<script src="js/front.js"></script>
<script src="js/nav_event.js"></script>
<script src="js/book.js"></script>

<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>