{{ template "_internal/google_analytics.html" . }}
<script src='{{ "common/jquery-3.1.1.min.js" | relURL }}' crossorigin="anonymous"></script>
<script src='{{ "common/bootstrap.min.js" | relURL }}' crossorigin="anonymous"></script>
<script src='{{ "common/swiper.min.js" | relURL }}' crossorigin="anonymous"></script>

<script src='{{ "common/jquery.cookie.min.js" | relURL }}'></script>
<script src='{{ "common/jquery.waypoints.min.js" | relURL }}'></script>
<script src='{{ "common/jquery.counterup.min.js" | relURL }}'></script>
<script src='{{ "common/jquery-parallax.js" | relURL }}'></script>
<script src='{{ "common/jqtree.js" | relURL }}' crossorigin="anonymous"></script>
<script src='{{ "js/front.js" | relURL }}?t={{ mul 1000 (time now).Unix }}'></script>
<script src='{{ "js/nav_event.js" | relURL }}?t={{ mul 1000 (time now).Unix }}'></script>

<!-- owl carousel -->
<script src='{{ "js/owl.carousel.min.js" | relURL }}'></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?d5f7e2406b6ef91d4494f0c6ea829f91';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
    })();
    //隐私政策是否显示
    initPolicyDom();
    function initPolicyDom() {
        if(!getCookie("isAgree")) {
            $("header .policy-tip").show();
            let currentWidth = document.body.clientWidth;
            //js只能获取到dom节点的内容高度，由于上下有padding值故+20，62和60是导航栏的高度
            let domHeight = $("header .policy-tip").height() + 20;
            if(currentWidth < 993) {
                $("#all>header").css("height",domHeight + 62);
            }else {
                $("#all>header").css("height",domHeight + 60);
            }
            $("#cookies-colse").click(function(e) {
                if(currentWidth < 993) {
                    $("#all>header").css("height","62px");
                }else {
                    $("#all>header").css("height","60px");
                }
                setCookie("isAgree","Yes",30);
                $("header .policy-tip").hide();
            });
        }else {
            $("header .policy-tip").hide();
        }
    }
    function setCookie(name,value,time) {
        var date = new Date(); 
        date.setTime(date.getTime() + time*24*60*60*1000);
        document.cookie = name + "="+ escape (value) + ";expires=" + date.toGMTString();
    }
    function getCookie(name) {
        var value = window.document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value?value[2]:null;
    }

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T76T52F3PE"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', "G-T76T52F3PE");
</script>