{{ template "_internal/google_analytics.html" . }}
<script src='{{ "common/jquery-3.1.1.min.js" | relURL }}' crossorigin="anonymous"></script>
<script src='{{ "common/bootstrap.min.js" | relURL }}'  crossorigin="anonymous"></script>

<script src='{{ "common/jquery.cookie.min.js" | relURL }}'></script>
<script src='{{ "common/jquery.waypoints.min.js" | relURL }}'></script>
<script src='{{ "common/jquery.counterup.min.js" | relURL }}'></script>
<script src='{{ "common/jquery-parallax.js" | relURL }}'></script>

<script src="{{ .Site.BaseURL }}js/dist/jso.js"></script>
<script src="{{ .Site.BaseURL }}js/cla.js?t=20191230"></script>

<script src='{{ "js/front.js" | relURL }}'></script>
<script src='{{ "js/nav_event.js" | relURL }}'></script>
<script src='{{ "js/book.js" | relURL }}'></script>

<script src='{{ "js/tab.js" | relURL }}'></script>
<script src='{{ "js/foundation.js" | relURL }}'></script>
<!-- owl carousel -->
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>

