<div class="side-authorBox">
    <span class="title">WRITTEN BY</span>
    <div class="img"></div>
    <p class="author">{{ .Params.author }}</p>
    <div class="emailBox">
        <span class="email-img"></span>
        <p class="email">fdafafafafsad</p>
    </div>
    <h4 class="other_post">Other Post</h4>
    <p class="blog-series">Blog Series 2 Blog Series 2 Blog Series 2 Blog Series…</p>
    <p class="blog-series">Blog Series 3 Blog Series 3 Blog Series 3 Blog Series…</p>
    <p class="blog-series">Other Posts Other Posts Other Posts Other Posts…</p>

</div>