<section>
    <div class="container home-statistics">
        <h1 class="statistics-title">{{ i18n "HOEM_STATISTICE_TITLE"}}</h1>
        <div class="statistics-item col-md-4">
            <div class="item-box">
                <div class="item-cont">
                    <img loading="lazy" class="item-icon" src="../img/statistics/icon_contributor.svg" />
                    <p class="item-number contributors-num"></p>
                    <p class="item-desc">
                        {{ i18n "HOME_STATISTICS_CONTRIBUTION" }}
                    </p>
                </div>
            </div>
        </div>
        <div class="statistics-item col-md-4">
            <div class="item-box">
                <div class="item-cont">
                    <img loading="lazy" class="item-icon" src="../img/statistics/icon_user.svg" />
                    <p class="item-number users-num"></p>
                    <p class="item-desc">
                        {{ i18n "HOME_STATISTICS_USERS" }}
                    </p>
                </div>
            </div>
        </div>
        <div class="statistics-item col-md-4">
            <div class="item-box">
                <div class="item-cont">
                    <img loading="lazy" class="item-icon" src="../img/statistics/icon_member.svg" />
                    <p class="item-number platforms-num"></p>
                    <p class="item-desc">
                        {{ i18n "HOME_STATISTICS_MEETUP" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>