<link rel="stylesheet" href="{{ "css/raffle.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
<div id="content">
    <div class="container workshop">
        <div class="row">
            <div class="banner"></div>
            <div class="intro">
                <div class="intro-box box1">
                    <h5>Overview</h5>
                    <p>openLooKeng is a drop in engine which enables in-situ analytics on any data, anywhere, including geographically remote data sources. It provides a global view of all of your data via its SQL 2003 interface. With high availability, auto-scaling, built-in caching and indexing support, openLooKeng is ready for enterprise workload with required reliability.</p>
                    <p class="margin-20">The goal of openLooKeng is to support data exploration, ad hoc queries, and batch processing with near real time latency ranging from 100+ms upto minutes, without moving your data around. openLooKeng also supports hierarchical deployment enabling geographically remote openLooKeng clusters to participate in the same query. With its cross region query plan optimization capability, queries involving remote data can achieve close to <b>local</b> performance.</p>
                    <p class="margin-20">This workshop will enable you to understand/develop and contribute to openLooKeng features. This session will also give you a recap on open source, how to contribute & grow, with a basic hands-on as well.</p>
                </div>
                <div class="intro-box box2">
                    <h5>Pre-requisites</h5>
                    <p>Some basics that you will need to get working right away at the workshop. Here are a few pre-requisites:<br>
                        1. Bring your own device and charger (Preferred - Linux OS)<br>
                        2. Basic JAVA Programming knowledge</p>
                </div>
                <div class="intro-box box3">
                    <h5>Workshop Details</h5>
                    <p>1. Introduction to openLooKeng (15mins)<br>
                        2. Demonstrate to install OLK (20mins)<br>
                        3. Connect with few of the data sources (5mins)<br>
                        4. Experiment with some of the running queries (10mins)<br>
                        5. Play around the set-up to understand how openLooKeng behave (55mins)<br>
                        6. Get practical experience working with openLooKeng by implementing one small requirement (55mins, paralle to (6))<br>
                        7. Q&A and Tips (15min)</p>
                    <p class="margin-20">Each session will be having hands-on & demo.<br>
                    NOTE: Person raising quality PR will be awarded. Also while working on requirement, you can raise any bugs observed. There will be award for raising bug also.</p>
                </div>
                <div class="intro-box box4">
                    <h5>Pre-requisites</h5>
                    <p>1. Familiarity with openLooKeng<br>
                        2. To know how to contribute to openLooKeng<br>
                        3. Hands on experience to test openLooKeng<br>
                        4. Hands on experience to develop inside openLooKeng.</p>
                </div>
            </div>
        </div>
    </div>
</div>
