<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/home.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
<link rel="stylesheet" href="{{ "css/statistics.css" | relURL}}?t={{ mul 1000 (time now).Unix }}">
<body>

    <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>
        <div class="nav-mask hide"></div>
        <div class="container">
            {{ partial "home_banner.html" . }}
            {{ partial "home_why_openLookeng.html" }}
        </div>
        <div class="container">
            {{ partial "statistics.html" . }}

            {{ partial "blog_news.html" . }}

            {{ partial "home_video.html" . }}

            {{ partial "powered.html" }}

            {{ partial "partner.html" }}

            {{ partial "FAQ.html" }}
        </div>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/home.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
    <script src="{{ "js/statistics.js" | relURL }}?t={{ mul 1000 (time now).Unix }}"></script>
</body>

</html>