<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/home.css?v=20200717" | relURL}}{{ .Site.Params.version }}">

<body>

    <div id="all">

        <header>


            {{ partial "nav.html" . }}

        </header>
        <div class="container">
            {{ partial "home_banner.html" . }}

            {{ partial "home_why_openLookeng.html" }}
        </div>
        <section>
            <div class="home-why unset">
                <a href="{{ i18n "EVENT_URL"}}">
                    <div class="summit">
                        <h2 class="summit-title">{{ i18n "HOME_SUMMIT" }}</h2>
                        <img class="isPC img" src="{{ "img/banners/meetup-banner.png" | relURL}}" alt="">
                        <img class="isH5 img" src="{{ "img/banners/meetup-banner-mobile.png" | relURL}}" alt="">
                    </div>
                </a>

            </div>
        </section>
        <div class="container">
            {{ partial "blog_news.html" . }}

            {{ partial "partner.html" }}
        </div>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="{{ "js/home.js?v=20200717" | relURL }}{{ .Site.Params.version }}"></script>

</body>

</html>