<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ partial "head.html" . }}

    <body>

        <div id="all">

        <header>

            {{ partial "nav.html" . }}

        </header>
        <div class="nav-mask hide"></div>
        <div id="content">
            <div class="container">
                <div class="row">

                    {{ $paginator := .Paginate (where .Data.Pages "Type" "events") }}
                    <section class="post">
                        <div class="row">
                            <div class="col-md-12 maillist">
                                <div class="maillist-title">
                                    <h1 class="isPC event-title">{{ .Params.top_title }}</h1>
                                    <h1 class="isH5 event-title">{{ .Params.mobile_title }}</h1>
                                    <img class="maillist-pic top-banner isPC img" src="../img/banners/eventsBanner.png" alt="">
                                    <img class="maillist-pic top-banner isH5 img" src="../img/events/banner-mobile.png" alt="">
                                </div>

                                <!--事件列表模块-->
                                <div class="event-list">
                                    <h2 class="fs24">{{ .Params.event_head }}</h2>
                                    <div class="event-content">
                                        <div class="event-leftline"></div>
                                        {{ range $paginator.Pages }}
                                        <div class="event-box fontHuaweiSans">
                                            <div class="event-circle">
                                                <div class="inner-circle"></div>
                                            </div>
                                            <h6><a href="{{ .Params.link }}" target="_blank">{{ .Params.title }}</a></h6>
                                            <span>{{ .Params.time }}</span>
                                            <p>{{ .Params.location}}</p>
                                            <a href="{{ .Params.link }}" target="_blank"><img class="isPC img" src="{{ .Params.img }}" alt=""><img class="isH5 img" src="{{ .Params.img_mobile }}" alt=""></a>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- *** COLUMN END *** -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

    </body>
</html>
