<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "css/privacypolicy.css" | relURL}}{{ .Site.Params.version }}">

<body>
    <div id="all">
        {{ partial "nav.html" . }}
        <div id="content">
            <div class="container">
                <h2 class="policy-title">{{ .Params.title }}</h2>
                {{ .Content }}
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
</body>

</html>